*{
    padding: 0;
    margin: 0;
}

body{
    background: rgb(54, 88, 97);
    background-image: url("img/stars1.png");
}

#shop_container{

    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

#shop_container div{
    margin: 20px;
    background:rgb(156, 49, 49);
    border-radius: 27px;
    align-items: center;
}


img{
    border-radius: 27px;
    width: 90%;
    height: 80%;
    margin: 10px;
}


p{
    margin: 5px;
    line-height: 20px;
}

#decrease{
    font-size: 14px;
}



header{
    position: absolute;
    width: 95%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;

}

header .logo{
    font-size: 40;
    text-transform:uppercase ;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;

}


header ul li {
    margin: 10px;
}

header ul li a{

    padding: 10px 16px;
    border-radius: 25px;


}

header ul li a:hover,.active{
    background: #eeeff1;
    color: black;
}


a{
    text-decoration: none;
    color: #fff;
}