*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(#1271a9,#1e4b4c);
    height: 100vh;
    font-family: system-ui;
}

a{
    text-decoration: none;
    color: #fff;
}

header{
    position: absolute;
    width: 95%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;

}

header .logo{
    font-size: 40;
    text-transform:uppercase ;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;

}


header ul li {
    margin: 10px;
}

header ul li a{

    padding: 10px 16px;
    border-radius: 25px;


}

header ul li a:hover,.active{
    background: #eeeff1;
    color: black;
}


.main{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.main::after{
    content: "";
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to top,#1e4b4c,transparent);
}
.main img{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#moon{
    mix-blend-mode: screen;
    transform: translateY(50px);
}

.Dummies{
    font-size: 15;
    text-transform:uppercase ;
    transform: translateY(-180px);
}

.content{
    color: #fff;
    padding: 30px ;

}

.content h2{
    margin: 20px;
    font-size: 30px;

}

.content p{
    margin: 20px;
    
}


p {
  font-family: "Poppins", "Segoe UI", Arial, sans-serif;
  font-size: 16px;        
  line-height: 1.8;       
  color: #f5f5f5;        
  letter-spacing: 0.5px;  /
}

span{
    font-weight: 500;
}