*{
    padding: 0;
    margin: 0;
}

body{
    background: rgb(54, 88, 97);
}

.about {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    align-items: center;
    text-align: left;
    justify-content: space-between;

    background-image: url("img/stars1.png"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about div{
    margin: 10px;
    background: rgb(156, 49, 49);
    padding: 27px;
    border-radius: 30px;
}

img{
    height: 100vh;
    width: 100%;
}
h2{
    margin: 10px;
}

li{
    margin: 5px;
}

p{
    line-height: 20px;
}




header{
    position: absolute;
    width: 95%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;

}

header .logo{
    font-size: 40;
    text-transform:uppercase ;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;

}


header ul li {
    margin: 10px;
}

header ul li a{

    padding: 10px 16px;
    border-radius: 25px;


}

header ul li a:hover,.active{
    background: #eeeff1;
    color: black;
}



a{
    text-decoration: none;
    color: #fff;
}